.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}

.coupon-image{
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 5px;
}

.coupon-box-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative; 
}

.coupon-code-container {
  border: 2px dotted var(--primary-purple);
  padding: 8px;
  border-radius: 5px;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 40px;
  /* position: absolute;
  bottom: 0; 
  left: 0;
  right: 0;
  z-index: 100; */
  box-sizing: border-box;
}

.coupon-code-button {
  display: flex;
  align-items: center;
  background-color: var(--primary-purple);
  border: none;
  padding: 4px 8px;
  border-radius: 5px;
}

.modal-header .btn-close{
  font-size: 1rem;
}

.ellipsis-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.opportunity-card-image{
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}