
$primary-black: #070606;
$primary-purple: #8338EC;
$primary-pink: #FF006E;
$primary-off-white: #FCF3FF;
$primary-gray : #f8f8fb;
$primary-white: #FFFFFF;
$secondary-yellow: #FFBE0B;
$secondary-purple-light: #ac77f1;
$secondary-red: #D32F2F;
$secondary-gray:#eff2f7;
$secondary-blue: #3A86FF;
$secondary-skyblue: #87b5ff;
$status-green-light: #d4edda;
$status-green-dark: #155724;
$status-yellow-light: #f5cd8c;
$status-yellow-dark: #8a4500;

// :root {
//   --primary-black: #070606;
//   --primary-purple: #8338EC;
//   --primary-pink: #FF006E;
//   --primary-off-white: #FCF3FF;
//   --primary-white: #FFFFFF;
//   --secondary-yellow: #FFBE0B;
//   --secondary-red: #FB5607;
//   --secondary-blue: #3A86FF;
//   --status-green-light: #d4edda;
//   --status-green-dark: #155724;
//   --status-yellow-light: #f5cd8c;
//   --status-yellow-dark: #8a4500;
// }
